<div class="container-main">

    <div class="container-welcome">
        <div class="logo">
            CHAT
        </div>

        <div class="message">
            Bienvenido a nuestro chat
        </div>
    </div>

    <div class="container-card-img">
        <div class="container-words">

            <div class="card">
                <p class="heading">
                    <b>Chatea</b>
                </p>
                <p>
                    Cuenta tus historias
                </p>
                <p>
                    Saluda a tus amigos
                </p>
                <p>
                    Envia un mensaje
                </p>
            </div>
        </div>


        <div class="container-image">
            <img src="https://i.pinimg.com/564x/97/50/31/9750314381f4f186e827a6ca1360f13b.jpg" alt="">
        </div>
    </div>



    <div class="container-form">
        <form action="">

            <label for=""><b>Ingrese su nombre por favor:</b></label>
            <div class="input-container">
                <input type="text" id="input" required="nombreInput" [(ngModel)]="nombreInput" name="name">
                <label for="input" class="label">Nombre</label>
                <div class="underline"></div>
            </div>

            <div class="container-button">
                <button (click)="goToChat()">
                    Registrarse
                    <div class="arrow-wrapper">
                        <div class="arrow"></div>
                    </div>
                </button>
            </div>
        </form>
    </div>
</div>