<div class="container-main">

    <div class="container-data-client">
        <div class="container-info-client">
            <div class="container-data">
                Nombre Cliente
            </div>
        </div>

        <div class="container-chat">
            Aqui va la lista de mensajes
        </div>

        <div class="container-form">
            <form action="">
                <input placeholder="Escriba un mensaje" class="input-style" type="text">

                <button>Enviar</button>
            </form>
        </div>
    </div>

    <div class="container-button-return">
        <button (click)="goToHome()">Regresar</button>
    </div>
</div>