.container-main {
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #bbbffe;
    height: 100vh;
}

.container-data-client {
    display: grid;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
    background-color: #DCE2FF;
    border-radius: 20px;
    width: 900px;

    .container-info-client {
        .container-data {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-top: 30px;
            padding-block-end: 30px;
            padding-left: 20px;
            background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
            color: #fff;

        }
    }

    .container-chat {
        width: auto;
        height: 400px;
        padding: 20px;
        overflow-y: scroll;
    }

    .container-form {
        background-color: #ebebeb;
        padding: 10px;
        border-end-start-radius: 20px;
        border-end-end-radius: 20px;

        form {
            display: flex;
            justify-content: center;
            align-items: center;

            .input-style {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                color: #000000;
                outline: none;
                width: 500px;
                height: 20px;
            }

            .input-style:focus {
                border-color: #535ef8;
            }

            button {
                background-color: #535ef8;
                color: #fff;
                font-size: 18px;
                display: flex;
                width: 80px;
                height: 40px;
                margin: 10px;
                border: 2px solid #535ef8;
                border-radius: 6px;
                align-items: center;
                text-align: center;
                justify-content: center;
                cursor: pointer;

                &:hover {
                    background-color: #fff;
                    border: 2px solid #535ef8;
                    color: #535ef8;
                }
            }
        }
    }
}

.container-button-return {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    button {
        --color: #535ef8;
        font-family: inherit;
        display: flex;
        width: 80px;
        height: 40px;
        line-height: 2.5em;
        overflow: hidden;
        cursor: pointer;
        margin: 10px;
        font-size: 17px;
        z-index: 1;
        color: var(--color);
        border: 2px solid var(--color);
        border-radius: 6px;
        position: relative;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    button::before {
        position: absolute;
        content: "";
        background: var(--color);
        width: 150px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
    }

    button:hover {
        color: white;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: 0.3s all;
    }

    button:hover::before {
        top: -30px;
        left: -30px;
    }
}